[Unit]
Description=Sync new skel files to home directory
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/skel-sync

[Install]
WantedBy=default.target
